<!DOCTYPE html>
<html lang="en">
<head>
    <title>Budget Buddy</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forgotpassword.css') }}">
</head>
<body>
    <section style="background-image: url('{{ url_for('static', filename='images/forgotpw.png') }}')">
        <div class="reg-block">
            <h1>Forgot Password</h1>

            <form action="/forgot_password" method="post">

                <label for="email">Enter email ID:</label>
                <input type="email" required class="mail" id="email" name="email" placeholder="Type to enter">
                <button type="submit" class="send" id="sendOTP">Send OTP</button>
                
                <label for="otp">Enter OTP:</label>
                <input type="text" required class="OTP" id="otp" name="otp" placeholder="Type to Enter">
                
                <label for="resend" class="msg">Didn't receive email?</label>
                <button class="resend" id="resend">Resend</button>
                
                <label for="password">New Password:</label>
                <input type="password" required id="password" name="password" placeholder="Type to Enter">
                
                <label for="cpassword">Confirm Password:</label>
                <input type="password" required id="cpassword" name="conf-password" placeholder="Type to Enter"><br>
                
                <button type="submit" class="c-submit" name="action" value="reset_password"> Submit </button>
            </form>
        </div>
    </section>
    <script>
      document.getElementById("sendOTP").addEventListener("click", function() {
          var email = document.getElementById("email").value;
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/send_otp", true);
          xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
          xhr.onreadystatechange = function() {
              if (xhr.readyState === 4 && xhr.status === 200) {
                  alert("OTP sent to your email!");
              }
          };
          xhr.send(JSON.stringify({ email: email }));
      });
      </script>       
</body>
</html>


document.getElementById("name").addEventListener("input",function(){
    var email = document.getElementById("name").value;
    var xxhr = new XMLHttpRequest();
})